@model Models.Mensajes
@using PromYourSelf.Views.Shared.Components.Chat
@{
    ViewData["Title"] = "Chat";
}

@await Component.InvokeAsync("Chat", new { usuarioId =  User.GetUserID().ToInt()})

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
