@model Models.Pagos

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    ValuesCardHeader cardHeader = new ValuesCardHeader();
    string Action = (Model.PagoID == 0) ? "Create" : "Edit";
    string Texto = (Model.PagoID == 0) ? "Guardar" : "Editar";
    Button.ActionButtonSaveOrEdit = Action;
    Button.TextButtonSaveOrEdit = Texto;
    cardHeader.Text = (Model.PagoID == 0) ? "Crear Pago" : "Modificar Pago";
    ViewData["Title"] = cardHeader.Text;
}

<link rel="stylesheet" href="~/vendor/select2/css/select2.min.css" />
<form class="form" asp-action="@Action" method="post" id="registrationForm">
    <div class="card shadow mb-4 col-6">
        <partial name="_CardHeaderPartialView" model="cardHeader" />
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.PagoID != 0)
            {
                <input type="hidden" asp-for="PagoID" />
            }
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input type="date" asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mt-1">
                    <div class="input-group">
                        <label for="TipoClasificacion" class="control-label">Tipo de Clasificaci&oacute;n</label>
                        <select id="TipoClasificacion"
                                class="form-control select2"
                                style="width:80%;height:auto"
                                data-placeholder="Seleccione el Tipo de Clasifición">
                            <option value="0" v-for="c in ListaClasificaciones" v-bind:value="c.value">{{c.text}}</option>
                        </select>
                        <div class="input-group-append">
                            <button id="OpenModal" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#NuevoTipoClasificacion">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Monto" class="control-label"></label>
                        <input asp-for="Monto" class="form-control" />
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12">
                    <label asp-for="Concepto" class="control-label"></label>
                    <textarea rows="6" asp-for="Concepto" class="form-control"></textarea>
                    <span asp-validation-for="Concepto" class="text-danger"></span>
                </div>
            </div>
        </div>
        <partial name="_ButtonsCardFooterPartialView" model="Button" />
    </div>
    
</form>