@model Models.Productos

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    ValuesCardHeader cardHeader = new ValuesCardHeader();
    string Action = (Model.ProductoID == 0) ? "Create" : "Edit";
    string Texto = (Model.ProductoID == 0) ? "Guardar" : "Editar";
    Button.ActionButtonSaveOrEdit = Action;
    Button.TextButtonSaveOrEdit = Texto;
    cardHeader.Text = (Model.ProductoID == 0) ? "Crear Producto" : "Modificar Producto";
    ViewData["Title"] = cardHeader.Text;
}

<div id="app-productos">
    <form asp-action="@Action" method="post" id="registrationForm" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card shadow mb-4">
            <div class="card-header"><h1 class="m-0 font-weight-bold text-primary">@cardHeader.Text</h1></div>

            <div class="card-body">

                <ul class="nav nav-tabs">
                    <li class="nav-item "><a class="nav-link active" data-toggle="tab" href="#home">Datos</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Fotos">Fotos</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="home">
                        <div class="row">
                            @if (Model.ProductoID != 0)
                            {
                                <input type="hidden" asp-for="ProductoID" />
                            }
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label"></label>
                                    <input asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Unidad" class="control-label"></label>
                                    <input asp-for="Unidad" class="form-control" />
                                    <span asp-validation-for="Unidad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Stock" class="control-label"></label>
                                    <input asp-for="Stock" class="form-control " disabled />
                                    <span asp-validation-for="Stock" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Precio" class="control-label"></label>
                                    <input asp-for="Precio" class="form-control" />
                                    <span asp-validation-for="Precio" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="PrecioOferta" class="control-label"></label>
                                    <input asp-for="PrecioOferta" class="form-control" />
                                    <span asp-validation-for="PrecioOferta" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xl-6 col-md-6 col-sm-3 ">
                                <label asp-for="TipoProductos" class="control-label"></label>
                                <select asp-for="TipoProductos" class="form-control">
                                    <option value="1">Servicio</option>
                                    <option value="0">Producto</option>
                                </select>
                                <span asp-validation-for="TipoProductos" class="text-danger"></span>
                            </div>

                            <div class="form-group col-xl-6 col-md-6 col-sm-3">
                                <label for="select2etiquetas" class="control-label">Agregar Etiquetas</label>
                                <div class="input-group">
                                    <select id="select2etiquetas" multiple="multiple" class="select2 form-control"
                                            style="width:95%;"
                                            onchange="app_productos.onChange(this)">
                                        <option v-for="c in etiquetas_select" v-bind:value="c.value">{{c.text}}</option>
                                    </select>
                                    <div class="input-group-append">
                                        <button type="button" data-toggle="modal" data-target="#modal_agregar_etiqueta" class="btn btn-sm btn-success">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>

                                <div id="inputs_hidden">

                                    <input v-for="(etiqueta, index) in etiquetas_inputs" type="hidden" :name="'Etiquetas[' + index + '].EtiquetaID'" v-bind:value="etiqueta" />
                                </div>
                            </div>
                        </div>


                        @*================== MODAL PARA AGREGAR ETIQUETA ====================*@
                        <div id="div_modal_agregar_etiqueta">
                            <div class="modal" id="modal_agregar_etiqueta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nueva Etiqueta</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="nombre">Nombre</label>
                                                <input class="form-control" type="text" name="nombre" v-model="etiqueta_nombre" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="agregar_etiqueta()">Guardar!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane" id="Fotos">
                        <a class="btn btn-primary text-white" style="float: right" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-plus"></i></a>
                        <hr />
                        <small>Haga doble click en la imagen para eliminar!</small>
                        <hr />
                        <div id="fotosPreview"></div>
                        <div id="fotosHidden"></div>
                    </div>
                </div>
            </div>
            <partial name="_ButtonsCardFooterPartialView" model="Button" />
        </div>
    </form>

    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Foto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input id="fotosProducto" accept="image/*" type="file" name="fotosProducto" multiple placeholder="Seleccione las fotos del producto" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="guardarFoto()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/VueJs/vue.js"></script>
<script src="~/js/VueJs/axios.min.js"></script>
<link rel="stylesheet" href="~/vendor/select2-bootstrap/select2-bootstrap-theme/select2-bootstrap.min.css">
<script src="~/vendor/select2/js/select2.min.js"></script>


