@model Models.Productos

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    Button.ActionButtonSaveOrEdit = "Create";
    Button.TextButtonSaveOrEdit = "Guardar";
    string Titulo = "Crear Productos";
    ViewData["Title"] = "Titulo";
}

<style>
    input[type="file"] {
        display: block;
    }

    .imageThumb {
        max-height: 75px;
        border: 2px solid;
        padding: 1px;
        cursor: pointer;
    }

    .pip {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

    .remove {
        display: block;
        background: #444;
        border: 1px solid black;
        color: white;
        text-align: center;
        cursor: pointer;
    }

        .remove:hover {
            background: white;
            color: black;
        }
</style>

<form asp-action="Create" method="post" id="registrationForm" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card shadow mb-4">
        <div class="card-header"><h1 class="m-0 font-weight-bold text-primary">@Titulo</h1></div>

        <div class="card-body">

            <ul class="nav nav-tabs">
                <li class="nav-item "><a class="nav-link active" data-toggle="tab" href="#home">Datos</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Fotos">Fotos</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="home">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                                <input asp-for="Descripcion" class="form-control" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Unidad" class="control-label"></label>
                                <input asp-for="Unidad" class="form-control" />
                                <span asp-validation-for="Unidad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Stock" class="control-label"></label>
                                <input asp-for="Stock" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="Precio" class="control-label"></label>
                                <input asp-for="Precio" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="PrecioOferta" class="control-label"></label>
                                <input asp-for="PrecioOferta" class="form-control" />
                                <span asp-validation-for="PrecioOferta" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12">
                            <label asp-for="TipoProductos" class="control-label"></label>
                            <select asp-for="TipoProductos" class="form-control">
                                <option value="1">Servicio</option>
                                <option value="0">Producto</option>
                            </select>
                            <span asp-validation-for="TipoProductos" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="Fotos">
                    
                </div>
            </div>
        </div>
    </div>
    <partial name="_ButtonsCardFooterPartialView" model="Button" />
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
