@model PromYourSelf.ViewModels.ChangePasswordViewModel

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    Button.ActionButtonSaveOrEdit = "Create";
    Button.TextButtonSaveOrEdit = "Cambiar Contraseña";
    Button.ShowButtonBackToList = false;
    string Titulo = "Cambiar Contraseña";
    ViewData["Title"] = Titulo;
}

<form class="form" asp-action="ChangePassword" id="registrationForm">
    <div class="card shadow mb-4">
        <div class="card-header"><h1 class="m-0 font-weight-bold text-primary">@Titulo</h1></div>
        <div class="card-body">
            <div class="row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="UserID" />
                <div class="row col-12">
                    <div class="form-group col-3">
                        <label asp-for="PasswordActual" class="control-label"></label>
                        <input asp-for="PasswordActual" class="form-control" />
                        <span asp-validation-for="PasswordActual" class="text-danger"></span>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="form-group  col-3">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-3">
                        <label asp-for="ConfirmarPassword" class="control-label"></label>
                        <input asp-for="ConfirmarPassword" class="form-control" />
                        <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_ButtonsCardFooterPartialView" model="Button" />
    </div>
</form>

@if (ViewBag.SweetAlert != null)
{
    <script type="text/javascript">
            function sweetalert() {
                Swal.fire({
                    title: '@ViewBag.Title',
                    text: '@ViewBag.Text',
                    type: '@ViewBag.Icon'
                });
            }
    </script>
}
@if (ViewBag.ToastSweetAlert != null)
{
    <script type="text/javascript">
            function ToastSweetAlert(Type, Titulo) {

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                });
                Toast.fire({
                    type: Type,
                    title: Titulo
                });
            }
    </script>
}