@model ConfirmarUsuarioViewModel

@{
    ValuesCardHeader cardHeader = new ValuesCardHeader();
    cardHeader.Text = "Confirmar Usuario";
    ButtonsCardFooter Button = new ButtonsCardFooter();
    Button.ActionButtonSaveOrEdit = "ConfirmarUsuario";
    Button.TextButtonSaveOrEdit = "Confirmar Usuario";
    Button.CssButtonSaveOrEdit = "fas fa-check";
    ViewData["Title"] = cardHeader.Text;
}

<form class="form" asp-action="ConfirmarUsuario" method="post" id="registrationForm">
    <div class="card shadow mb-4 col-6">
        <partial name="_CardHeaderPartialView" model="cardHeader" />
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioID" />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="CodigoConfirmacion" class="control-label"></label>
                    <input asp-for="CodigoConfirmacion" class="form-control" />
                    <span asp-validation-for="CodigoConfirmacion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <partial name="_ButtonsCardFooterPartialView" model="Button" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
