@using System.Reflection;
@using PromYourSelf.Utils;
@using PromYourSelf.Models;
@{
    Models.Empleados empleados = new Models.Empleados();
    var properties = Utils.GetProperties(empleados);
    //TODO : Probar crear una vista parcial generica para los index
}


    @foreach (var p in properties)
    {
        
        string name = p.Name;
        <label>@name</label>
        var value = p.GetValue(empleados, null);
        <label>@value</label>
    }

