@model Models.Ventas

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    ValuesCardHeader cardHeader = new ValuesCardHeader();
    string Action = (Model.VentaID == 0) ? "Create" : "Edit";
    string Texto = (Model.VentaID == 0) ? "Guardar" : "Editar";
    Button.ActionButtonSaveOrEdit = Action;
    Button.TextButtonSaveOrEdit = Texto;
    cardHeader.Text = (Model.VentaID == 0) ? "Crear Venta" : "Modificar Venta";
    string Titulo = cardHeader.Text;
    ViewData["Title"] = Titulo;
}

<div id="app-ventas">
    <form asp-action="@Action">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card shadow mb-4">
            <partial name="_CardHeaderPartialView" model="cardHeader" />
            <div class="card-body">
                @if (Model.VentaID != 0)
                {
                    <input type="hidden" asp-for="VentaID" />
                }
                <div class="row justify-content-end">
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="Fecha" class="control-label"></label>
                            <input asp-for="Fecha" class="form-control" />
                            <span asp-validation-for="Fecha" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="control-label">Productos</label>
                            <select class="form-control select2" style="width:100%;" onchange="app_ventas.onChange(this)">
                                <option v-for="c in productos_select" v-bind:value="c.value">{{c.text}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label id="CantidadLB" class="control-label"> Cantidad</label>
                            <input for="CantidadLB" v-model="cantidad" class="form-control" type="text" id="Cantidad" />
                        </div>
                    </div>

                    <div class="col-3 ">
                        <label id="PrecioLB" class="control-label">Precio</label>
                        <div class="form-group form-inline">
                            <input for="PrecioLB" readonly v-model="precio" class="form-control" type="number" id="Precio" />
                            @*<input value="Agregar" type="button" class="btn btn-primary" onclick="AgregaConcepto(); return false;" />*@
                            <a class="btn btn-primary text-white" v-on:click="agregar_detalle()">Agregar</a>
                        </div>
                    </div>
                </div>

                <div class="row" id="divProductos">
                    <div class="table table-responsive">
                        <table class="table table-hover" id="tablaConceptos">
                            <thead class="thead-light">
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Precio unitario</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(producto, index) in productos_detalle">
                                    <td scope="row">{{producto.Nombre}}</td>
                                    <th>{{producto.Cantidad}}</th>
                                    <td>{{producto.Precio}}</td>
                                    <td>{{producto.Total}}</td>
                                    <td><a class="btn btn-danger text-white" v-on:click="eliminar_detalle(producto)">Eliminar</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div id="venta_detalle">
                    <div v-for="(producto, index) in productos_detalle">
                        <input type="hidden" :name="'Details[' + index + '].ProductoID'" v-model="producto.ProductoID" />
                        <input type="hidden" :name="'Details[' + index + '].Cantidad'" v-model="producto.Cantidad" />
                        <input type="hidden" :name="'Details[' + index + '].Precio'" v-model="producto.Precio" />
                    </div>

                </div>
                <div class="row justify-content-end">
                    @*<label>Total:  $<bold id="total"></bold></label>*@
                </div>
                <div class="row justify-content-end">
                    <div class="col-3">
                        <div class="form-group">
                            <label asp-for="Monto" class="control-label"></label>
                            <input asp-for="Monto" id="Monto" v-model="total" style="text-align:right" disabled readonly class="form-control" />
                            <span asp-validation-for="Monto" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label asp-for="CitaID" class="control-label">Cita</label>
                        <select class="form-control select2" style="width:100%;" onchange="app_ventas.onChangeCita(this)" v-model="citaId">
                            <option v-for="c in citas_pendientes" v-bind:value="c.value">{{c.text}}</option>
                        </select>
                        <input type="hidden" name="CitaID" v-model="citaId" />
                    </div>
                </div>
            </div>
            <partial name="_ButtonsCardFooterPartialView" model="Button" />
        </div>
    </form>
</div>
