@model HorariosViewModel

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    Button.ActionButtonSaveOrEdit = "Edit";
    Button.TextButtonSaveOrEdit = "Editar";
    string Titulo = "Modificar Horarios";
    ViewData["Title"] = Titulo;
}
<partial name="_CreateOrEditPartialView" model="Model" />
@*<form class="form" asp-action="Edit" id="registrationForm">
    <div class="card shadow mb-4">
        <div class="card-header"><h1 class="m-0 font-weight-bold text-primary">@Titulo</h1></div>
        <div class="card-body">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="row col-12">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Lunes</label>
                            <input type="time" asp-for="LunesDesde" class="form-control" />
                            <span asp-validation-for="LunesDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="LunesHasta" data-val="true" data-val-error="Debe elegir una ambos horarios" class="form-control" />
                            <span asp-validation-for="LunesDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Martes</label>
                            <input type="time" asp-for="MartesDesde" class="form-control" />
                            <span asp-validation-for="MartesDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="MartesHasta" data-val="true" data-val-error="Debe elegir una ambos horarios" class="form-control" />
                            <span asp-validation-for="MartesDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Miercoles</label>
                            <input type="time" asp-for="MiercolesDesde" class="form-control" />
                            <span asp-validation-for="MiercolesDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="MiercolesHasta" data-val="true" data-val-error="Debe elegir una ambos horarios" class="form-control" />
                            <span asp-validation-for="MiercolesDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Jueves</label>
                            <input type="time" asp-for="JuevesDesde" class="form-control" />
                            <span asp-validation-for="JuevesDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="JuevesHasta" data-val="true" data-val-error="Debe elegir una ambos horarios" class="form-control" />
                            <span asp-validation-for="JuevesDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Viernes</label>
                            <input type="time" asp-for="ViernesDesde" class="form-control" />
                            <span asp-validation-for="ViernesDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="ViernesHasta" data-val="true" data-val-error="Debe elegir una ambos horarios" class="form-control" />
                            <span asp-validation-for="ViernesDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row col-12">
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Sabado</label>
                            <input type="time" asp-for="SabadoDesde" class="form-control" />
                            <span asp-validation-for="SabadoDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="SabadoHasta" data-val="true" data-val-error="Debe elegir una ambos horarios" class="form-control" />
                            <span asp-validation-for="SabadoDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row col-12">

                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">Domingo</label>
                            <input type="time" asp-for="DomingoDesde" class="form-control" />
                            <span asp-validation-for="DomingoDesde" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <input type="time" asp-for="DomingoHasta" class="form-control" />
                            <span asp-validation-for="DomingoDesde" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_ButtonsCardFooterPartialView" model="Button" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
