@model Models.Citas

@{
    ButtonsCardFooter Button = new ButtonsCardFooter();
    Button.ActionButtonSaveOrEdit = "Create";
    Button.TextButtonSaveOrEdit = "Guardar";
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Citas</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card shadow mb-4">
        <div class="card-header"><h1 class="m-0 font-weight-bold text-primary">o</h1></div>

        <div class="card-body">

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FechaInicio" type="" class="control-label"></label>
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FechaFin" class="control-label"></label>
                        <input asp-for="FechaFin" class="form-control" />
                        <span asp-validation-for="FechaFin" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group">
                        <label asp-for="Notas" class="control-label"></label>
                        <textarea asp-for="Notas" class="form-control" rows="6"></textarea>
                        <span asp-validation-for="Notas" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_ButtonsCardFooterPartialView" model="Button" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
