@model ReflectionIT.Mvc.Paging.PagingList<Models.Citas>

@{
    string Titulo = "Listado  de Citas";
    ViewData["Title"] = Titulo;
}

<div id="app-historial">
    <div>
        <form method="get" asp-action="Index">
            <div class="form-row justify-content-between">
                <div class="form-inline">
                    <input name="filter" class="form-control" placeholder="Filtro"
                           value="@Model.RouteValue["Filter"]" />
                    <button type="submit" class="btn  btn-primary">
                        <i class="fas fa-search" aria-hidden="true">Buscar</i>
                    </button>
                </div>
            </div>

            <input type="hidden" id="_usuarioId" value="@User.GetUserID().ToInt()" />
            <input type="hidden" id="_empresaId" value="@User.GetEmpresaID().ToInt()" />
        </form>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Fecha Inicio
                            </th>
                            <th>
                                Servicio
                            </th>
                            <th>
                                Código Comprobación
                            </th>
                            <th>
                                Estado
                            </th>

                            <th>Acci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="item in citas">
                            <td>
                                {{item.cita.FechaInicio.replace('T', ' ')}}
                            </td>
                            <td>
                                {{item.producto.Nombre}}
                            </td>
                            <td>
                                {{item.cita.CodigoComprobacion}}
                            </td>
                            <td>
                                <span v-if="item.cita.Estado == 0" class="bg-warning text-white"> Pendiente </span>
                                <span v-if="item.cita.Estado == 1" class="bg-success text-white"> Aceptada </span>
                                <span v-if="item.cita.Estado == 2" class="bg-warning text-white"> En Proceso </span>
                                <span v-if="item.cita.Estado == 3" class="bg-success text-white"> Terminada </span>
                                <span v-if="item.cita.Estado == 4" class="bg-danger text-white"> Cancelada </span>
                                <span v-if="item.cita.Estado == 5" class="bg-success text-white"> Facturada </span>



                            </td>
                            <td>
                                @if (User.GetPosicion() == Models.Posicion.Administrador.GetDescription())
                                {<a v-if="empresaId == item.cita.NegocioID && item.cita.Estado == 0" v-on:click="aceptarCita(item.cita.CitaID)" class="btn btn-sm btn-success text-white"><i class="fas fa-check"></i></a> <a v-if="item.cita.Estado == 2 && empresaId==item.cita.NegocioID" v-on:click="aceptarCita(item.cita.CitaID, 3)" class="btn btn-sm btn-success text-white"><i class="fas fa-check"></i></a> <a v-if="item.cita.Estado == 1 && empresaId==item.cita.NegocioID" v-on:click="aceptarCita(item.cita.CitaID, 2)" class="btn btn-sm btn-success text-white"><i class="fas fa-check"></i></a>}
                                &nbsp;
                                <a v-if="item.cita.Estado != 3 && item.cita.Estado != 4 && item.cita.Estado != 5" v-on:click="aceptarCita(item.cita.CitaID, 4)" class="btn btn-sm btn-danger text-white"><i class="fas fa-window-close"></i></a><a v-if="item.cita.Estado == 3 && item.cita.Estado != 5" v-bind:href="'/Ventas/Create?citaId='+ item.cita.CitaID" class="btn btn-sm btn-success text-white"><i class="fas fa-file-invoice-dollar"></i></a>
                                <a v-bind:href="'/Citas/Details/'+ item.cita.CitaID" class="btn btn-sm btn-primary text-white"><i class="fas fa-eye"></i></a>
                            </td>


                        </tr>

                    </tbody>
                </table>
                <partial name="_PaginationPartialView" model="this.Model" />
            </div>
        </div>
    </div>
</div>


<script>
    var app_historial = new Vue({
        el: '#app-historial',
        data: {
            citas: [],
            mensajes: [],
            usuarioId: 0,
            empresaId: 0

        },
        methods: {
            aceptarCita(citaId, estado = -1) {
                console.log("CITA ID", citaId);
                axios.post("https://localhost:44386" + "/Citas/Aceptar/" + citaId + "?estado=" + estado).then(response => {
                    app_historial.citas = [];
                    let res = JSON.parse(response.data);
                    if (res == true || res == "true") {
                        ToastSweetAlert('success', 'Cita Aceptada!');
                        app_historial.getCitas();
                    } else {
                        ToastSweetAlert('danger', 'Error al intentar aceptar la cita!');
                    }

                }).catch(err => {
                    console.log('ha ocurrido un error', err);
                    alert('Ha ocurrido un error');
                })
            },
            getCitas: function () {
                axios.get("/Citas/GetCitas").then(response => {
                    app_historial.citas = [];
                    let res = JSON.parse(response.data);
                    console.log('res Citas :', res);
                    for (let i = 0; i < res.length; i++) {
                        app_historial.citas.push(res[i]);
                    }
                }).catch(err => {
                    console.log('ha ocurrido un error', err);
                    alert('Ha ocurrido un error');
                })
            }

        }
    });
    $(document).ready(function () {
        app_historial.usuarioId = $("#_usuarioId").val();
        app_historial.empresaId = $("#_empresaId").val();
        console.log("Empresa :", app_historial.empresaId);
        console.log("usuario :", app_historial.usuarioId);
    });
    app_historial.getCitas();
</script>